* {
    margin: 0;
    padding: 0;
  }
  /* Index */
  /* Index */
  
  /* Index BODY*/
  
  body{
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.6;
  }
  
  /* Index HEADER*/
  #headerIndex{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  }
  
  .inicioINDEX { grid-area: 1 / 1 / 2 / 2; }
  .aboutusINDEX { grid-area: 2 / 1 / 3 / 2; }
  .cable50INDEX { grid-area: 3 / 1 / 4 / 2; }
  .cable20INDEX { grid-area: 4 / 1 / 5 / 2; }
  .shopINDEX { grid-area: 5 / 1 / 6 / 2; }
  .barINDEX { grid-area: 6 / 1 / 7 / 2; }
  .eventosINDEX { grid-area: 7 / 1 / 8 / 2; }
  .centerImage { grid-area: 1 / 2 / 4 / 5; }
  .tituloINDEX { grid-area: 4 / 2 / 6 / 5; }
  .subtituloINDEX { grid-area: 6 / 2 / 8 / 5; }
  
  
  #headerIndex{
    background-image: url(../assets/fotos/wake2.jpg);
    width: 100%;
    background-repeat: round space;
  }
    
  .centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  .logo {
    width: 150px;
  }
  
  .tituloINDEX{
    font-size: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
  }
  
  .subtituloINDEX{
    font-size: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: nowrap;
  }
  
  .inicioINDEX,
  .aboutusINDEX,
  .cable50INDEX,
  .cable20INDEX,
  .shopINDEX,
  .barINDEX,
  .eventosINDEX{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-color: white;
    color:white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
  }
  
  a {
    text-decoration: none;
    color: black;
    list-style-type:none;
  }

@media (min-width: 1200px){
  #barra{
    display: none
  }
}

@media (max-width: 1199px){
  #barra1 {
    display: none
  }
}

/*Index MAIN*/
  
  .parrafoIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
    text-align:center;
    color:white;
    background-color:black;
    position:relative;
  }
  
  main form{
    font-style: italic;
    h2{
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }
    button {
      background-color: black !important;
      border-color: white !important;
      &:hover{
      background-color: gray !important;
      }
    }
  }


  /* htmls */
  /* htmls */
  /* htmls */
  /* htmls */
  
  .titulo{
    text-align:center;
    font-size: 50px;
    line-height: 1;
  }
  #navbarNav{
    justify-content: space-around;
  }
  
  .submenuSHOP{
    display: none; 
    list-style-type: none;
  }
  
  .shop:hover > .submenuSHOP{
      display: flex;  
      flex-direction: column;
      position: absolute;
      background-color: white;
  }
    
  .footer li{
    list-style-type: none;
  }
  
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    justify-items: center;
    justify-content: space-around;
    li {
      font-size: 15px;
      text-align: center;
       }
    h2{
      text-align: center;
      font-style: italic;
      font-weight: bold;
    }
    iframe{
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }
  }
  

  /* html BAR*/


  .fotoBar{
    width: 100%;
    background-repeat: round space;
  }
   
  .tituloCarta{
    font-size: 50px;
    text-align: center;
  }
  
  .tituloMedios{
    font-size: 30px;
    text-align: center;
  }
  
  /* html ABOUT US*/
  
  
  /* html cable 2.0*/
  .tituloCable50,
  .tituloCable20{
    font-size: 50px;
    text-align: center;
  }
  
  .fotoPrecios20{
    width: 100%;
    background-repeat: round space;
  }
  
  /* html cable 5.0*/
  .tituloCable50{
    font-size: 30px;
    text-align: center
  }
  .fotoPrecios50{
    width: 100%;
    background-repeat: round space;
  }
  
  /* html cable shop*/

  @mixin sizes($min-width, $max-width){
    min-width: $min-width;
    max-width: $max-width;
  }

  .imagenShop {
    margin:auto;
    @include sizes(20px,250px)
  }

.casco{
  @extend .imagenShop
}

 
.eventosParrafo{
   background-image: linear-gradient(to left, black, white) ;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
 }